In [7]:
import xarray as xr
import numpy

moped = xr.DataArray(
    data=numpy.random.rand(20, 10, 1000, 50),
    dims=['n_states', 'observation_sequence', 'iteration', 'time'])

schmoped = xr.DataArray(
    data=numpy.random.rand(20, 10, 1000, 1),
    dims=['n_states', 'observation_sequence', 'iteration', 'time'])

# log-probs
# method
# n_states
# observation_sequence
# iteration
# time

# für random muss der lachs kopiert werden über die dimensions dann funzt die komparrisnnn


# dataset = xr.Dataset({
#     'log_probabilities': moped,
#     'execution_times': schmoped
# })

x = numpy.random.rand(3,3,1)
x[2,1, -1] = 1
x

array([[[0.71918655],
        [0.68293826],
        [0.70746022]],

       [[0.60536502],
        [0.8676664 ],
        [0.09831763]],

       [[0.52132793],
        [1.        ],
        [0.33821533]]])

In [42]:
soos = dataset.isel(time=-1)
soos.mean(dim=['n_states', 'iteration']).to_dataframe()

                         moped  schmoped
observation_sequence
0                     0.500056  0.502288
1                     0.499145  0.500811
2                     0.501528  0.497086
3                     0.501208  0.501188
4                     0.502120  0.503642
5                     0.497484  0.501504
6                     0.503720  0.500735
7                     0.496758  0.493607
8                     0.500439  0.497576
9                     0.502948  0.498519

In [ ]:
# moped.mean(dim=["n_states", "iteration"])
final_fitness_values = moped.isel(time=-1)
mean_by_observation_sequence = final_fitness_values.mean(dim=['n_states', 'iteration'])

In [ ]:
mean_by_observation_sequence